* {
  padding: 0;
  margin: 0;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --font-family-header: "Roboto", sans-serif;
  --font-family-paragraph: "Ubuntu", sans-serif;
}
