.navbar{
    width: 100vw;
    height: 10vh;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 6fr 3fr 3fr 3fr;
    grid-template-areas: "logo category auth test";
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    grid-area: logo;
    cursor: pointer;
}

.category{
    grid-area: category;
    cursor: pointer;
}
.auth{
    grid-area: auth;
    cursor: pointer;
}
.test{
    grid-area: test;
    cursor: pointer;
}